html {
	scroll-behavior: smooth;
}
body {
 font-family: 'Abril Fatface', cursive;
}

/* Utilty Classes*/

.img-responsive {
  max-width: 100%;
}

.hero_image {
	background: url(heroimage.jpg) no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	height: 100vh;
	position: relative;
}

.hero_wrapper {
	color:white;
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.hero_wrapper h1 {
	font-size: 3rem;
	text-align: center;
}

.hero_wrapper p {
	font-family: 'Zen Antique Soft', serif;
	font-size: 1.5rem;

}



.form_code button {
	width: 40%;
	text-align: center;
	background-color: #00bab1;
	color: white;
	padding: 0.8rem;
	margin:1rem auto 0rem;
	border: none;
	border-radius: .3rem;
	font-size: 1,5rem;
	font-family: 'Mukta', sans-serif;
}

.form_code button:hover {
	background:linear-gradient(to bottom, #85cbd6 5%, #599bb3 100%);
	background-color:#85cbd6;
}


/*  Product Section */

.product {
	font-family: 'Mukta', sans-serif;
	width: 90%;
	margin-top: .3rem;
	margin-left: auto;
	margin-right: auto;
	display: flex;
    flex-wrap: wrap;

}

.product a {
	text-decoration: none;
	color: black;
}

.product a:hover {
	background-color: #D8B6A4;
}

.product__list__item {
  background-color: #E9A6A6;
	float: left;
	width: 32%;
	margin-left: .5rem;
	flex-grow: 0;
    flex-shrink: 0;
}

.product_heading {
	text-align: center;
}

.product__list__item:first-of-type {
	margin-left: 0;
}





@media screen and (max-width: 700px) {
	.product__list__item {
		width: 100%;
		float: none;
	}
}
